.nav{
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    height: 25px;
    font-size: 14px;
    padding: 20px 20%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);

    span{
        cursor: pointer;
    }

    .navImg{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .left{
        display: flex;
        width: 15%;
        justify-content: space-between;
        font-weight: 500;
        font-size: 16px;
        color: #DC4734;
    }
}